[submodule "LazyGL"]
	path = subprojects/LazyGL
	url = https://github.com/oyagci/LazyGL.git
[submodule "subprojects/json"]
	path = subprojects/json
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/nativefiledialog"]
	path = thirdparty/nativefiledialog
	url = https://github.com/oyagci/nativefiledialog
[submodule "subprojects/stduuid"]
	path = thirdparty/stduuid
	url = https://github.com/mariusbancila/stduuid.git
[submodule "thirdparty/stduuid"]
	path = thirdparty/stduuid
	url = https://github.com/mariusbancila/stduuid.git
