[submodule "LazyGL"]
	path = subprojects/LazyGL
	url = https://github.com/oyagci/LazyGL.git
[submodule "subprojects/json"]
	path = subprojects/json
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/nativefiledialog"]
	path = thirdparty/nativefiledialog
	url = https://github.com/oyagci/nativefiledialog
[submodule "thirdparty/stduuid"]
	path = thirdparty/stduuid
	url = https://github.com/mariusbancila/stduuid.git
[submodule "subprojects/glfw"]
	path = subprojects/glfw
	url = https://github.com/oyagci/glfw
	branch = latest
[submodule "thirdparty/glew"]
	path = thirdparty/glew
	url = https://github.com/oyagci/glew
	branch = latest
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/oyagci/glm
	branch = latest
